<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
<head>

  {% block title %}<title>Курсы</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Добавление дополнительного статического CSS файла -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container-fluid">
    {% if user.is_authenticated %}
     <p>Пользователь: {{ user.get_username }}<a href="{% url 'logout' %}">/Выход</a></p>
   {% else %}
     <p><a href="{% url 'login' %}?next={{request.path}}">Войти</a></p>
   {% endif %}
</div>
<div class = row>
  <div class="col-sm-2">
    {% block sidebar %}
      <ul class="sidebar-nav">
            <li><a href="{% url 'index' %}">Домашняя страница</a></li>
            <li><a href="{% url 'courses' %}">Курсы</a></li>
            {% if perms.studCource.add_subscribes %} <li><a href="{% url 'subs' %}">Подписки</a></li> {% endif %}

      </ul>
    {% endblock %}
  </div>
     <div class="col-sm-10">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>